* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

body {
  background: #FFFFFF;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
}

.button-white {
  background: transparent;
}

.button-orange {
  color: #fff;
  background: #FF6336;
}

.button-black {
  color: #fff;
  background: #000;
  font-size: 17px;
}

