
.header {
  display: flex;
}

.header ul {
  display: flex;
}

.header ul a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.header .actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
}

.header .button {
  line-height: 45px;
}