
.ratings {
  background: #DABC98;
  /*display: grid;
  grid-template-columns: 62% 38%;*/
}

.ratings .container {
  display: grid;
  grid-template-columns: 62% 38%;
}

.ratings .left-col {
  display: grid;
  grid-template-columns: 34% 66%;
}

.ratings .left-col h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}

.ratings .right-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ratings .right-col p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px; 
}