
.ratings {
  background: #DABC98;
}

.ratings .container {
  display: grid;
  grid-template-columns: 62% 38%;
}

.ratings .left-col {
  display: grid;
  grid-template-columns: 34% 66%;
  padding: 90px 100px 88px 4px;
}

.ratings .left-col h2 {
  font-size: 35px;
  line-height: 50px;
  padding: 27px  0px 27px 67px;
  text-align: start;
}

.ratings .left-col img {
  width: 176px;
  height: 154px;
}


.ratings .right-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 110px 87px 106px 70px;
  border-left: 1px solid #000000;
}

.ratings .right-col p {
  font-size: 15px;
  line-height: 25px; 
}

.ratings .right-col div:first-child img {
  width: 29px;
  height: 36px;
}

.ratings .right-col div:last-child img {
  width: 124px;
  height: 36px;
}
