
.review {
  background: #C9E8F2;
  /*display: grid;
  grid-template-columns: 75% 25%;*/
}

.review .container {
  display: grid;
  grid-template-columns: 75% 25%;
}

.review .content p {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px; 
}

.review .author {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px; 
}