
.review {
  background: #C9E8F2;
}

.review .container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-content: stretch;
}

.review .content p {
  font-size: 30px;
  line-height: 40px; 
}

.review .author {
  font-size: 15px;
  line-height: 25px; 
}