
.review {
  background: #C9E8F2;
  width: fit-content;
}

.review .container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-content: stretch;
}

.review .content {
  padding: 53px 30px 165px 25px;
}

.review .content p {
  font-size: 30px;
  line-height: 40px; 
  padding-bottom: 12px;
}

.review .content .author {
  font-size: 15px;
  line-height: 25px; 
  padding-top: 11px;
  padding-bottom: 6px;
}

.review .content img {
  width: 115px;
}

.review .container > img {
  padding: 53px 25px 105px 30px;
}